---
import { themeConfig } from '@/config'

const { author } = themeConfig.site
const { links, startYear } = themeConfig.footer

const currentYear = new Date().getFullYear()
const year = Number(startYear) === currentYear
  ? startYear
  : `${startYear}-${currentYear}`

const socialLinks = links.map(({ name, url }) => {
  const isEmail = /^[\w.-]+@[\w.-]+\.[a-z]{2,}$/i.test(url)

  if (isEmail) {
    return {
      name,
      href: `mailto:${url}`,
    }
  }

  return {
    name,
    href: url,
    target: '_blank',
    rel: 'noopener noreferrer',
  }
})
---

<footer
  class="text-3 leading-1.25em font-navbar"
  lg="uno-desktop-column bottom-20 text-3.5"
>
  <p>
    {socialLinks.map((link, index) => (
      <>
        <a
          class="highlight-hover py-0.8 transition-colors after:bottom-0.35em hover:c-primary"
          href={link.href}
          {...(link.target ? { target: link.target, rel: link.rel } : {})}
        >
          {link.name}
        </a>
        {index < socialLinks.length - 1 && '/'}
      </>
    ))}
  </p>

  <p>
    © {year} {author}
    <br />
    All rights reserved.
  </p>

  <p>
    Powered by <a class="highlight-hover py-0.8 transition-colors after:bottom-0.35em hover:c-primary" href="https://astro.build/" target="_blank" rel="noopener noreferrer">Astro</a>
  </p>
</footer>
